<section class="flex center-y-row" id="introdutory">
  <div class="container-text">
    <app-typewriter [message]="content.title" classes="title font-e-bold"></app-typewriter>
    <p class="description">{{ content.description }}</p>
    <app-button
      *ngIf="content.button.haveButton"
      [alternativeText]="content.button.buttonAlt"
      [buttonTitle]="content.button.buttonTitle"
      [isExternal]="content.button.externalLink"
      [link]="content.button.link"
    >
    </app-button>
  </div>
  <div class="flex center-x-row container-img">
    <img [alt]="content.photo.alt"
         [lazyLoad]="content.photo.src"
         class="photo"
         defaultImage='assets/img/loader_min.svg'
         height="400"
         width="400">
  </div>
</section>
