<section class="flex center-y-row" id="introdutory">
  <div class="container-text">
    <h1 class="title font-e-bold">{{ mockup.title }}</h1>
    <p class="description">{{ mockup.description }}</p>
    <app-button
      *ngIf="mockup.button.haveButton"
      [buttonTitle]="mockup.button.buttonTitle"
      [isExternal]="mockup.button.externalLink"
      [alternativeText]="mockup.button.buttonAlt"
      [link]="mockup.button.link"
    >
    </app-button>
  </div>
  <div class="flex center-x-row container-img">
    <img class="photo lazy"
         width="400"
         height="400"
         src="/assets/loader_min.svg"
         [attr.data-src]="mockup.photo.src"
         [attr.data-srcset]="mockup.photo.src"
         [alt]="mockup.photo.alt">
  </div>
</section>
