.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.space-btwn {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.center-x-column,
.center-y-row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.center-x-row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.end-x-row {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.transition {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.font-light {
  font-weight: 300;
}
.font-bold {
  font-weight: bold;
}
.txt-center {
  text-align: center;
}
@media (max-width: 1024px) {
  .hide-from-tablet {
    display: none;
  }
}
.svg-stroke-text {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  stroke: var(--color-text);
}

.svg-fill-p {
  fill: var(--color-p);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.button-primary {
  display: inline-block;
  padding: 16px 36px;
  text-decoration: none;
  background: var(--color-s);
  border-radius: 8px;
  color: var(--color-white);
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
  -webkit-font-feature-settings: "liga" off;
  font-feature-settings: "liga" off;
}
.button-primary:hover {
  background: var(--color-s-dark);
}
