/* GERAL  */
:root {
  --color-white: #fff;
  --color-text: #18191f;

  --color-p: #388e3c;
  --color-p-light: #98ee99;
  --color-p-dark: #00600f;
  --color-p-contrast: var(--color-text);
  --color-p-light-contrast: var(--color-text);
  --color-p-dark-contrast: var(--color-white);

  --color-s: #ab47bc;
  --color-s-light: #df78ef;
  --color-s-dark: #790e8b;
  --color-s-contrast: var(--color-white);
  --color-s-light-contrast: var(--color-text);
  --color-s-dark-contrast: var(--color-white);
}
* {
  outline-width: 2px;
  outline-color: var(--color-s-dark);
}
html {
  font-family: "Manrope", sans-serif;
  font-size: 62.5%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Header primary */
#primary-header {
  padding: 14px 0;
  background: var(--color-white);
  box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12),
    0px 4px 4px -2px rgba(24, 39, 75, 0.08);
}
#primary-header .menu-social-list .menu-item .link {
  padding: 16px 0 16px 12px;
  display: block;
}
#primary-header .menu-nav-list .menu-item .link {
  padding: 12px 12px 12px 0;
  font-size: 1.4rem;
  line-height: 2rem;
  -webkit-font-feature-settings: "liga" off;
  font-feature-settings: "liga" off;
  color: var(--color-text);
  text-decoration: none;
}
#primary-header .menu-nav-list .menu-item .link:hover {
  color: var(--color-s-dark);
}
#primary-header .logo-stroke {
  stroke-dasharray: 203;
  stroke-dashoffset: 203;
  -webkit-animation: dash 3s ease-in forwards;
  animation: dash 3s ease-in forwards;
}

body {
  background: cornflowerblue;
}

/* Animations */
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/* SVG'S */
.svg-stroke-text {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  stroke: var(--color-text);
}
#primary-header .logo:hover .logo-stroke {
  stroke: var(--color-s-dark);
}
.svg-fill-p {
  fill: var(--color-p);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.svg-fill-white {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  fill: var(--color-white);
}
#primary-header .menu-social-list .menu-item:hover .svg-fill-p {
  fill: var(--color-s);
}
