<section *ngIf="pageContent.feedback.length != 0" class="container" id="feedback">
  <h2 class="title font-e-bold txt-center">{{ pageContent.title }}</h2>
  <p class="subtitle txt-center">{{ pageContent.subtitle }}</p>
  <div class="feedback-list flex wrap">
    <div *ngFor="let item of pageContent.feedback"
         class="feedback-item flex column">
      <div class="content">
        <h3 class="title font-l-bold txt-center">...{{item.title}}...</h3>
        <p class="description txt-center">{{item.description}}</p>
      </div>
      <div class="person-info flex column center-x-column">
        <img alt="{{ item.name }}"
             class="image lazy"
             data-src="assets/img/home/feedback/{{ item.photo }}.jpg"
             data-srcset="assets/img/home/feedback/{{ item.photo }}.jpg"
             height="56"
             src="assets/loader_min.svg"
             width="56">
        <h4 class="title txt-center font-l-bold">{{item.name}}</h4>
        <h5 class="subtitle txt-center">{{item.familiarity}}</h5>
      </div>
    </div>
  </div>
</section>
