<section *ngIf="pageContent.tools.length != 0"
         class="container"
         id="tools">
  <h2 class="title font-e-bold txt-center">{{ pageContent.title }}</h2>
  <swiper [config]="swiperConfig">
    <ul class="swiper-wrapper tools-list">
      <li *ngFor="let item of pageContent.tools"
          class="swiper-slide tool-item">
        <img alt="{{ item.alternativeText }}"
             class="image margin-auto lazy"
             data-src="assets/img/home/tools/{{ item.imageName }}.jpg"
             data-srcset="assets/img/home/tools/{{ item.imageName }}.jpg"
             height="64"
             src="assets/loader_min.svg" width="64">
      </li>
    </ul>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

  </swiper>
</section>
