@import 'reset';
@import 'framework';
@import 'home/home';
@import 'trajectory/trajectory';
@import "external/pageclip";


/* GERAL  */
:root {
  --color-white: #fff;
  --color-text: #18191f;
  --color-gray-light: #f4f5f7;

  --color-p: #388e3c;
  --color-p-light: #98ee99;
  --color-p-dark: #00600f;
  --color-p-contrast: var(--color-text);
  --color-p-light-contrast: var(--color-text);
  --color-p-dark-contrast: var(--color-white);

  --color-s: #ab47bc;
  --color-s-light: #df78ef;
  --color-s-dark: #790e8b;
  --color-s-contrast: var(--color-white);
  --color-s-light-contrast: var(--color-text);
  --color-s-dark-contrast: var(--color-white);

  --height-burger: 4px;
  --width-burger: 48px;
  --color-burger: var(--color-text);

  --font-size-title-h1: 7.2rem;
  --line-height-title-h1: 9.8rem;

  --font-size-title-h2: 4.8rem;
  --line-height-title-h2: 6.4rem;

  --font-size-title-h2-sub: 4rem;
  --line-height-title-h2-sub: 5.4rem;

  --font-size-description: 1.8rem;
  --line-height-description: 3.2rem;

  --selection-color: var(--color-text);
  --selection-background: var(--color-s-light);

  --input-shadow-color-hover: 0 0 0 .2rem rgba(121, 14, 139, .25);
	--color-input-border: #323232;
	--color-input: #495057;
}
p {
  font-size: var(--font-size-description);
  line-height: var(--line-height-description);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--color-white);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--color-white);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--color-s);
}
::-moz-selection {
  color: var(--selection-color);
  background: var(--selection-background);
}
::selection {
  color: var(--selection-color);
  background: var(--selection-background);
}
* {
  outline-width: 2px;
  outline-color: var(--color-s-dark);
  box-sizing: border-box;
}
html {
  font-family: "Manrope", sans-serif;
  font-size: 62.5%;
  color: var(--color-text);
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  max-width: 100%;
  padding-top: 95px;
}
/* Header primary */
#primary-header {
  padding: 14px 0;
  background: var(--color-white);
  box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12),
    0px 4px 4px -2px rgba(24, 39, 75, 0.08);
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

#primary-header > #primary-navigation,
#primary-header > .menu-social-list {
  width: 30%;
}

.menu-social-list .menu-item .link {
  padding: 16px 0 16px 12px;
  display: block;
}
#primary-header.fixed {
  padding: 8px 0;
}

#primary-header .menu-nav-list .menu-item .link,
#secondary-navigation .link {
  padding: 12px 12px 12px 0;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--color-text);
  text-decoration: none;
}
#primary-header.fixed .menu-social-list .link,
#secondary-navigation .link {
  padding: 12px 0 12px 12px;
}
#primary-header .menu-nav-list .menu-item .link:hover,
#secondary-navigation .link:hover {
  color: var(--color-s-dark);
}
#primary-header .logo-stroke {
  stroke-dasharray: 203;
  stroke-dashoffset: 203;
  -webkit-animation: dash 3s ease-in forwards;
  animation: dash 3s ease-in forwards;
}
#primary-header .menu-container {
  height: 48px;
}
#primary-header .menu-container .menu,
#primary-header .menu-container .menu:before,
#primary-header .menu-container .menu:after {
  height: var(--height-burger);
  width: var(--width-burger);
  background: var(--color-burger);
  border-radius: 8px;
}
#primary-header .menu-container .menu:before {
  content: "";
  display: block;
  -webkit-transform: translate3d(0, 12px, 0);
  transform: translate3d(0, 12px, 0);
}
#primary-header .menu-container .menu:after {
  content: "";
  display: block;
  -webkit-transform: translate3d(0, -16px, 0);
  transform: translate3d(0, -16px, 0);
}
/* Primary header mobile */
#primary-header-mobile .logo,
#primary-header-mobile .navigation-mobile {
  margin-bottom: 16px;
}
#primary-header-mobile .navigation-mobile a {
  padding: 16px 0;
  margin: 4px 0;
  display: block;
  text-decoration: none;
  color: var(--color-text);
}
#primary-header-mobile .menu-social-list-mobile a {
  padding: 18px 10px;
  display: block;
}
#primary-header-mobile [data-sidebar="close"] {
  position: absolute;
  top: 16px;
  right: 16px;
}
#primary-header-mobile [data-sidebar="close"] .close-tablet,
#primary-header-mobile [data-sidebar="close"] .close-mobile {
  color: transparent;
  padding: 12px;
}
#primary-header-mobile [data-sidebar="close"] .close-tablet,
#primary-header-mobile [data-sidebar="close"] .close-mobile {
  display: none;
}

form input,
form textarea {
  border-radius: 6px;
	display: block;
	width: 100%;
	padding: 14px 20px;
	color: var(--color-text);
	background-color: transparent;
	background-clip: padding-box;
	border: 1px solid var(--color-input-border);
	font-size: 1.6rem;
  font-family: "Manrope", sans-serif;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
form input:focus,
form textarea:focus {
  border-color: var(--color-s-dark);
	outline: 0;
	box-shadow: var(--input-shadow-color-hover);
}
form textarea {
  resize: vertical;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: var(--color-text);
}
input::-moz-placeholder,
textarea::-moz-placeholder {
	color: var(--color-text);
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: var(--color-text);
}
input::placeholder,
textarea::placeholder {
	color: var(--color-text);
}
/* footer */
#footer .logo {
  margin-bottom: 36px;
}
#footer #secondary-navigation {
  margin-bottom: 60px;
}
#footer .copyright {
  border-top: 1px solid rgba(24, 25, 31, 0.2);
  padding: 16px 0;
}
@media (max-width: 1024px) {
  #footer .logo {
    padding-top: 60px;
  }
  #footer .copyright {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
}
/*  back to top */
.back-to-top {
  position: fixed;
  opacity: 0;
  -webkit-transform: translate3d(0, 70px, 0);
  transform: translate3d(0, 70px, 0);
  bottom: 20px;
  right: 20px;
}
.back-to-top.visible {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.back-to-top:hover path {
  fill: var(--color-p-dark);
}
/* Animations */
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
/* SVG'S */
#primary-header .logo:hover .logo-stroke {
  stroke: var(--color-s-dark);
}
.svg-fill-white {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  fill: var(--color-white);
}
.menu-social-list .menu-item:hover .svg-fill-p {
  fill: var(--color-s);
}
/* Automatic Sidebar */
[data-sidebar="container"] {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 15;
}
[data-sidebar="content"] {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  background: #fff;
  width: 85vw;
  padding: 36px;
  height: 100%;
  border-left: 4px solid var(--color-s);
}
.pageclip-form__submit:after {
  left: calc(50% - 13px) !important;
  top: calc(50% - 13px) !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
}

@import 'responsive';
