<nav
  *ngIf="socialMedias"
  aria-label="Menu de redes sociais"
>
  <ul
    appKeyboardManager
    aria-label="Menu de redes sociais"
    class="menu-social-list flex end-x-row hide-from-tablet"
    role="menubar">
    <li
      *ngFor="let media of socialMedias; let first = first"
      class="menu-item"
      role="none">
      <a
        [attr.tabindex]="first ? 0 : -1"
        appKeyboardManagedItem
        class="link d-block"
        href="{{ media.link }}"
        rel="external noopener noreferrer"
        role="menuitem"
        target="_blank"
        title="{{ media.title }}">
        <div [innerHTML]="renderIcon(media.iconName)"></div>
      </a>
    </li>
  </ul>

</nav>

