@import '/src/app/shared/_variables.scss';

header {
  padding: 14px 0;
  background: var(--color-white);
  box-shadow: 0 2px 4px -2px rgb(24 39 75 / 12%), 0px 4px 4px -2px rgb(24 39 75 / 8%);
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1920px;
  app-menu-list {
    width: 30%;
    ::ng-deep .link {
      padding: 12px 12px 12px 0;
    }
  }
  app-logo {
    width: 40%;
  }
  app-social-media {
    width: 30%;
  }
}

