<section *ngIf="content.tools.length != 0"
         class="container"
         id="tools">
  <h2 class="title font-e-bold txt-center">{{ content.title }}</h2>
  <swiper [config]="swiperConfig">
    <ul class="swiper-wrapper tools-list">
      <li *ngFor="let item of content.tools"
          class="swiper-slide tool-item">
        <img alt="{{ item.alternativeText }}"
             class="image margin-auto lazy"
             defaultImage="assets/img/loader_min.svg"
             height="64"
             lazyLoad="assets/img/home/tools/{{ item.imageName }}.jpg" width="64">
      </li>
    </ul>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

  </swiper>
</section>
