<section
  *ngIf="pageContent.principles.length > 0"
  class="container"
  id="principles">
  <h2 class="title font-e-bold txt-center">
    {{ pageContent.title }}
  </h2>
  <ul
    class="container-principles flex center-x-row wrap">
    <li
      *ngFor="let item of pageContent.principles; let first = first; let last = last"
      [class.first]="first"
      [class.last]="last"
      class="item-principle flex column center-x-column">
      <div [innerHTML]="renderIcon(item.svg)" class="container-image">
      </div>
      <h3 class="title font-e-bold">{{ item.title }}</h3>
      <p class="description txt-center">{{ item.description }}</p>
    </li>
  </ul>
</section>
