<section
  *ngIf="(repositorios$ | async) as projects"
  class="container"
  id="projects">
  <h2 class="title font-e-bold txt-center">Projetos recentes.</h2>
  <div
    role="listbox"
    class="grid-projects flex center-x-row wrap">
    <a
      *ngFor="let project of projects;"
      role="listitem"
      title="Ir para o projeto {{ project.name }}"
      target="_blank"
      [href]="project.html_url"
      class="project-card"
      rel="noopener noreferrer">
      <img class="image lazy"
           width="350"
           height="350"
           data-srcset="media/projects/gocorona.jpg"
           data-src="media/projects/gocorona.jpg"
           alt
           src="assets/loader_min.svg">
      <div class="content">
        <h3 class="title font-bold">{{ project.name }}</h3>
        <p class="description">{{ project.description }}</p>
      </div>
    </a>
  </div>
</section>
