<section class="container" id="starting">
  <h2 class="title font-e-bold txt-center">
    {{ pageContent.title }}
  </h2>
  <ul *ngIf="pageContent.steps.length != 0"
      class="starting-list wrap flex center-x-row">
    <li *ngFor="let item of pageContent.steps; let first = first; let last = last"
        [class.first]="first"
        [class.last]="last"
        class="starting-item flex column space-btwn">
      <div class="primary-content">
        <img alt="{{ item.alternativeText }}" class="lazy image margin-auto"
             data-src="assets/img/home/starting/{{ item.imageName }}.png"
             data-srcset="assets/img/home/starting/{{ item.imageName }}.png"
             height="160"
             src="assets/loader_min.svg"
             width="204">
        <h3 class="title font-l-bold txt-center">{{ item.title }}</h3>
      </div>
      <p class="description txt-center">{{ item.description }}</p>
    </li>
  </ul>
</section>
