body {
  --color-p: #388e3c;
  --color-p-light: #98ee99;
  --color-p-contrast: var(--color-text);
  --color-p-light-contrast: var(--color-text);
  --color-p-dark-contrast: var(--color-white);

  --color-s: #ab47bc;
  --color-s-light: #df78ef;
  --color-s-dark: #790e8b;
  --color-s-contrast: var(--color-white);
  --color-s-light-contrast: var(--color-text);
  --color-s-dark-contrast: var(--color-white);

  --height-burger: 4px;
  --width-burger: 48px;
  --color-burger: var(--color-text);

  --selection-color: var(--color-text);
  --selection-background: var(--color-s-light);

  --input-shadow-color-hover: 0 0 0 .2rem rgba(121, 14, 139, .25);
  --color-input: #495057;

  &.theme-light {
    --color-white: #fff;
    --color-text: #18191f;
    --color-gray-light: #f4f5f7;

    --color-p-dark: #00600f;
    --color-input-border: #323232;

  }

  &.theme-dark {
    --color-white: #232323;
    --color-text: #f4f5f7;
    --color-gray-light: #141414;

    --color-p-dark: #388e3c;
    --color-input-border: #656565;

  }

  --font-size-title-h1: 7.2rem;
  --line-height-title-h1: 9.8rem;

  --font-size-title-h2: 4.8rem;
  --line-height-title-h2: 6.4rem;

  --font-size-title-h2-sub: 4rem;
  --line-height-title-h2-sub: 5.4rem;

  --font-size-description: 1.8rem;
  --line-height-description: 3.2rem;

  @media (max-width: 1280px) {
    --font-size-title-h1: 5.6rem;
    --line-height-title-h1: 6.2rem;
  }
  @media (max-width: 1024px) {
    --font-size-title-h1: 4.8rem;
    --line-height-title-h1: 5.2rem;

    --font-size-title-h2: 3.6rem;
    --line-height-title-h2: 4.2rem;

    --font-size-title-h2-sub: 3.4rem;
    --line-height-title-h2-sub: 4.2rem;
  }
  @media (max-width: 768px) {
    --font-size-title-h1: 3.6rem;
    --line-height-title-h1: 3.8rem;

    --font-size-title-h2: 3.2rem;
    --line-height-title-h2: 3.6rem;

    --font-size-title-h2-sub: 3.2rem;
    --line-height-title-h2-sub: 3.6rem;

    --font-size-description: 1.6rem;
    --line-height-description: 2.2rem;
  }
}
